# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# Environment variables
configs/.env
configs/google_service_account.json

# Logs and reports
logs/
reports/

# Distribution / packaging
build/
dist/
*.egg-info
venv/
.venv/

# Data files (Exclude large datasets and DBs)
*.xlsx
*.csv
*.db
*.sqlite3
data/
project/data/

# Specific data files to keep (if any, use ! to negate)
# !data/initial_config.json
